<div *ngIf="this.permissionService.registeredUserPermission() else accessDenied" class="dash">
  <div class="orient">
    <div class="row">
      <div class="col-3 ml-5">Вибрано інвестицій на суму<br />
        Потенційний відсотковий дохід
      </div>
      <div class="col-1 mr-5">
        {{summarizedInvestment | number:'1.1-2' : 'uk'}} грн<br />
        {{percentIncome  | number:'1.1-2' : 'uk'}} грн
      </div>
      <div class="col-1">
        <button [disabled]="summarizedInvestment == 0" mat-flat-button (click)="sendInvestments()" color="accent">Підтвердити </button>
      </div>
    </div>
  </div>

  <mat-accordion displayMode="flat" multi class="mat-table">
    <section matSort class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell" mat-sort-header="score">Рейтинг</span>
      <span class="mat-header-cell" mat-sort-header="amount">Сума</span>
      <span class="mat-header-cell" mat-sort-header="absoluteTerm">Термін</span>
      <span class="mat-header-cell" mat-sort-header="profitability">Дохідність</span>
      <span class="mat-header-cell" mat-sort-header="loanPurpose">Призначення</span>
      <span class="mat-header-cell" mat-sort-header="applyDate">Дата подачі</span>
      <span class="mat-header-cell" mat-sort-header="timeLeft">Залишилось часу</span>
      <span class="mat-header-cell" mat-sort-header="fulfillment">Заповненість</span>
    </section>

    <mat-expansion-panel *ngFor="let element of displayedRows$ | async">
      <mat-expansion-panel-header class="mat-row">
        <span class="mat-cell"><span class="font-weight-bold">{{element.rank}}</span><span
            class="score font-weight-light">{{element.score}}</span></span>
        <span class="mat-cell">{{element.amount}} грн</span>
        <span class="mat-cell">{{element.term}}</span>
        <span class="mat-cell">{{element.profitability}} % </span>
        <span class="mat-cell">{{element.loanPurpose}}</span>
        <span class="mat-cell">{{element.applyDate}}</span>
        <span class="mat-cell">{{element.timeLeft}}</span>
        <span class="mat-cell">({{divide(element.amountFunded, element.amount)}}%) {{element.amountFunded}} /
          {{element.amount}} </span>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row">

          <div class="col details">
            <!-- Дані позичальника -->
            Дата реєстрації<br />
            Сімейний стан<br />
            <div *ngIf="element.kidsBefore18yo !== '0'"> Діти до 18 р.<br /></div>
            <div *ngIf="element.kidsBefore18yo == '0' && element.kidsAfter18yo == '0'">Діти<br /></div>
            <div *ngIf="element.kidsAfter18yo !== '0'">Діти старше 18 р.<br /></div>
            Місце проживання<br />
          </div>
          <div class="col details font-weight-light">
            {{element.registrationDate}}<br />
            {{element.maritalStatus}}<br />
            {{element.kidsBefore18yo}}<br />
            <div *ngIf="element.kidsAfter18yo !== '0'">{{element.kidsAfter18yo}}<br /></div>
            {{element.placeOfLiving}}<br />
          </div>
          <div class="col details">
            Вік<br />
            Соціальний статус<br />
            Щомісячний дохід<br />
            Щомісячні витрати<br />
            PTI<br />
          </div>
          <div class="col details font-weight-light">
            {{element.age}} р.<br />
            {{element.socialStatus}}<br />
            {{element.monthlyIncome}} грн<br />
            {{element.monthlyExpenses}} грн<br />
            {{element.pti}}%<br />
          </div>
          <div class="col-3 details">
            Відкритих кр. на зараз<br />
            <div *ngIf="element.currentOpenCredits !== 0">Cума поточної заборгованості<br /></div>
            <div *ngIf="element.hasDelayInCurrentPeriod">Прострочка за цей період<br /></div>
            <div *ngIf="element.hasDelayInCurrentPeriod">Тривалість просрочки<br /></div>
            Виплачених у інших орг.<br />
            Виплачених на GrowIt<br />
          </div>
          <div class="col details font-weight-light">
            {{element.currentOpenCredits}}<br />
            <div *ngIf="element.currentOpenCredits !== 0">{{element.currentDebtAmount}} грн<br /></div>
            <div *ngIf="element.hasDelayInCurrentPeriod">{{element.currentOverdueDebtAmount}} грн<br /></div>
            <div *ngIf="element.hasDelayInCurrentPeriod">{{element.currentDelayInDays}} дн.<br /></div>
            {{element.payedOffInOtherOrgs}}<br />
            {{element.payedInGrowit}}<br />
          </div>
        </div>
      </div>
      <mat-action-row>
        <span *ngIf="investment.value >= 100" class="my-auto mr-5"><span class="mr-3">Плановий дохід:
          </span>{{(toInt(investment.value) * (1 + (((toInt(element.profitability)/365*1)/100)*toInt(element.absoluteTerm)))) | number:'1.1-2' : 'uk'}}
          грн</span>

        <input #investment class="border border-light" min="100" matInput maxlength="5" placeholder="грн">
        <button [disabled]="investment.added || investment.value < 100"
          (click)="addToSelectedInvestments(toInt(investment.value), toInt(element.loanId), (toInt(investment.value) * (1 + (((toInt(element.profitability)/365*1)/100)*toInt(element.absoluteTerm))))-toInt(investment.value)); investment.added=true"
          mat-flat-button color="accent">Додати</button>
        <button #del
          [disabled]="investment.value=='' || (investment.value < 100) && ( (prevSummarizedInvestment + investment.value) >= summarizedInvestment) ||  prevSummarizedInvestment === summarizedInvestment"
          (click)="onDeleteInvestment(toInt(investment.value), toInt(element.loanId), (toInt(investment.value) * (1 + (((toInt(element.profitability)/365*1)/100)*toInt(element.absoluteTerm))))-toInt(investment.value)); investment.value=''; investment.added=false"
          mat-flat-button color="warn">Видалити</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<ng-template #accessDenied>
  <div class="denied mt-3 p-5 alert-danger">
    <h2 class="text-danger mt-3">ACCESS DENIED !!!</h2>
    <p class="mt-4">You dont have permissions to access this resource.<br><br> Please contact your administrator.</p>
  </div>
</ng-template>