<div *ngIf="this.permissionService.registeredInvestorPermission() else accessDenied" class="dash">
  <div class="orient">
    <div class="row">
      <div class="col-3 ml-5">Choose investments amount<br />
        Potencial income
      </div>
      <div class="col-1 mr-5">
        {{summarizedInvestment | number:'1.1-2' : 'uk'}} грн<br />
        {{percentIncome  | number:'1.1-2' : 'uk'}} грн
      </div>
      <div class="col-1">
        <button [disabled]="summarizedInvestment == 0" (click)="sendInvestments(summarizedInvestment, percentIncome, investments)" mat-flat-button  color="accent">Підтвердити </button>
      </div>
    </div>
  </div>

  <mat-accordion displayMode="flat" multi class="mat-table mt-2">
    <section matSort class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell" mat-sort-header="score">Rating</span>
      <span class="mat-header-cell" mat-sort-header="amount">Amount</span>
      <span class="mat-header-cell" mat-sort-header="absoluteTerm">Term</span>
      <span class="mat-header-cell" mat-sort-header="profitability">Profitability</span>
      <span class="mat-header-cell" mat-sort-header="loanPurpose">Purpose</span>
      <span class="mat-header-cell" mat-sort-header="applyDate">Apply date</span>
      <span class="mat-header-cell" mat-sort-header="timeLeft">Time left</span>
      <span class="mat-header-cell" mat-sort-header="fulfillment">Fulfillment</span>
    </section>

    <mat-expansion-panel *ngFor="let element of displayedRows$ | async">
      <mat-expansion-panel-header class="mat-row">
        <span class="mat-cell"><span class="font-weight-bold">{{element.rank}}</span><span
            class="score font-weight-light">{{element.score}}</span></span>
        <span class="mat-cell">{{element.amount}} uah</span>
        <span class="mat-cell">{{element.term}}</span>
        <span class="mat-cell">{{element.profitability}} % </span>
        <span class="mat-cell">{{element.loanPurpose}}</span>
        <span class="mat-cell">{{element.applyDate}}</span>
        <span class="mat-cell">{{element.timeLeft}}</span>
        <span class="mat-cell">({{divide(element.amountFunded, element.amount)}}%) {{element.amountFunded}} /
          {{element.amount}} </span>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row">

          <div class="col details">
            <!-- Дані позичальника -->
            Registration date<br />
            Marital status<br />
            <div *ngIf="element.kidsBefore18yo !== '0'"> Kids below 18<br /></div>
            <div *ngIf="element.kidsBefore18yo == '0' && element.kidsAfter18yo == '0'">Kids<br /></div>
            <div *ngIf="element.kidsAfter18yo !== '0'">Kids above 18<br /></div>
            Location<br />
          </div>
          <div class="col details font-weight-light">
            {{element.registrationDate}}<br />
            {{element.maritalStatus}}<br />
            {{element.kidsBefore18yo}}<br />
            <div *ngIf="element.kidsAfter18yo !== '0'">{{element.kidsAfter18yo}}<br /></div>
            {{element.placeOfLiving}}<br />
          </div>
          <div class="col details">
            Age<br />
            Social status<br />
            Monthly income<br />
            Monthly expenses<br />
            PTI<br />
          </div>
          <div class="col details font-weight-light">
            {{element.age}} р.<br />
            {{element.socialStatus}}<br />
            {{element.monthlyIncome}} uah<br />
            {{element.monthlyExpenses}} uah<br />
            {{element.pti}}%<br />
          </div>
          <div class="col-3 details">
            Відкритих кр. на зараз<br />
            <div *ngIf="element.currentOpenCredits !== 0">Current debt<br /></div>
            <div *ngIf="element.hasDelayInCurrentPeriod">Current overdue<br /></div>
            <div *ngIf="element.hasDelayInCurrentPeriod">Days overdue<br /></div>
            Виплачених у інших орг.<br />
            Виплачених на GrowIt<br />
          </div>
          <div class="col details font-weight-light">
            {{element.currentOpenCredits}}<br />
            <div *ngIf="element.currentOpenCredits !== 0">{{element.currentDebtAmount}} uah<br /></div>
            <div *ngIf="element.hasDelayInCurrentPeriod">{{element.currentOverdueDebtAmount}} ‰<br /></div>
            <div *ngIf="element.hasDelayInCurrentPeriod">{{element.currentDelayInDays}} d.<br /></div>
            {{element.payedOffInOtherOrgs}}<br />
            {{element.payedInGrowit}}<br />
          </div>
        </div>
      </div>
      <mat-action-row>
        <span *ngIf="investment.value >= 100" class="my-auto mr-5"><span class="mr-3">Плановий дохід:
          </span>{{(toInt(investment.value) * (1 + (((toInt(element.profitability)/365*1)/100)*toInt(element.absoluteTerm)))) | number:'1.1-2' : 'uk'}}
          грн</span>

        <input #investment class="border border-light" min="100" matInput maxlength="5" placeholder="грн">
        <button [disabled]="investment.added || investment.value < 100"
          (click)="addToSelectedInvestments(toInt(investment.value), toInt(element.loanId), (toInt(investment.value) * (1 + (((toInt(element.profitability)/365*1)/100)*toInt(element.absoluteTerm))))-toInt(investment.value)); investment.added=true"
          mat-flat-button color="accent">Додати</button>
        <button #del
          [disabled]="!investment.added"
          (click)="onDeleteInvestment(toInt(investment.value), toInt(element.loanId), (toInt(investment.value) * (1 + (((toInt(element.profitability)/365*1)/100)*toInt(element.absoluteTerm))))-toInt(investment.value)); investment.value=''; investment.added=false"
          mat-flat-button color="warn">Видалити</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
<ng-template #accessDenied>
  <div class="denied mt-3 p-5 alert-danger">
    <h2 class="text-danger mt-3">ACCESS DENIED !!!</h2>
    <p class="mt-4">You dont have permissions to access this resource.<br><br> Please contact your administrator.</p>
  </div>
</ng-template>