<div *ngIf="this.permissionService.registeredUserPermission() else accessDenied" class="dash">


  <mat-accordion displayMode="flat" multi class="mat-table">
    <section matSort class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell" mat-sort-header="score">Рейтинг</span>
      <span class="mat-header-cell" mat-sort-header="amount">Сума</span>
      <span class="mat-header-cell" mat-sort-header="term">Термін</span>
      <span class="mat-header-cell" mat-sort-header="profitability">Дохідність</span>
      <span class="mat-header-cell" mat-sort-header="loanPurpose">Призначення</span>
      <span class="mat-header-cell" mat-sort-header="applyDate">Дата подачі</span>
      <span class="mat-header-cell" mat-sort-header="timeLeft">Залишилось часу</span>
      <span class="mat-header-cell" mat-sort-header="fulfillment">Заповненість</span>
    </section>

    <mat-expansion-panel *ngFor="let element of displayedRows$ | async">
      <mat-expansion-panel-header class="mat-row">
        <span class="mat-cell"><span class="font-weight-bold">{{element.rank}}</span><span
            class="score font-weight-light">{{element.score}}</span></span>
        <span class="mat-cell">{{element.amount}} грн</span>
        <span class="mat-cell">{{element.term}}</span>
        <span class="mat-cell">{{element.profitability}} % </span>
        <span class="mat-cell">{{element.loanPurpose}}</span>
        <span class="mat-cell">{{element.applyDate}}</span>
        <span class="mat-cell">{{element.timeLeft}}</span>
        <span class="mat-cell">({{divide(element.amountFunded, element.amount)}}%) {{element.amountFunded}} /
          {{element.amount}} </span>
      </mat-expansion-panel-header>
      <div>Заповненість: {{element.fulfillment}} %</div>
      <p>Заповненість: {{element.fulfillment}} %</p>
      <div class="container">
        <div class="row">
          <div class="col">
            1 of 3
          </div>
          <div class="col">
            content 1
          </div>
          <div class="col">
            2 of 3 (wider)
          </div>
          <div class="col">
            content 2
          </div>
          <div class="col">
            3 of 3
          </div>
          <div class="col">
            content 3
          </div>
        </div>
        <div class="row">
          <div class="col">
            1 of 3
          </div>
          <div class="col">
            2 of 3 (wider)
          </div>
          <div class="col">
            3 of 3
          </div>
        </div>
      </div>
      <mat-action-row>
        <span>кіко </span>
        <input class="border border-light" matInput maxlength="5" placeholder=" грн">
        <button mat-flat-button color="accent">Додати</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

  <mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


</div>
<ng-template #accessDenied>
  <div class="denied mt-3 p-5 alert-danger">
    <h2 class="text-danger mt-3">ACCESS DENIED !!!</h2>
    <p class="mt-4">You dont have permissions to access this resource.<br><br> Please contact your administrator.</p>
  </div>
</ng-template>