    <span>My Application</span>












<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
    <img src="../assets/Logo.png" class="img-fluid" style="width:50px; height:50px" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown ml-auto" app-dropdown >
    <a class="nav-link dropdown-toggle" href="" onclick="return false;" id="navbarDropdownMenuLink" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <img class="rounded-circle profile" src="../assets/avatar.jpeg">
    </a>
    <div class="dropdown-menu dropdown-menu-right avatar" aria-labelledby="navbarDropdownMenuLink">
    <div class="sidebar-scroll" id="list-group">
    <a class="dropdown-item chat" href="#!">
    <span class="d-xs-none username">Profile</span>
    </a>
    <a class="dropdown-item chat" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
     href="#!">
    <span class="d-xs-none username">Settings</span>
    </a>
    <a class="dropdown-item chat" [routerLink]="['/login']" (click)="logOut()" href="#!">
    <span class="d-xs-none username">Logout</span>
    </a>
    </div>
    </div>
    </li>
    </ul>
    </div>
    </nav> -->