@import "@angular/material/prebuilt-themes/purple-green.css";

img {
  height: 37px;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    justify-content: center;
}

.right-con {
  margin-left: 71%;
}

.right-login {
  margin-left: 91%;
}

.right-borr-nav {
  margin-left: 75%;
}

.right-bor-btns {
  margin-left: 65%;

}
