<mat-toolbar>
  <mat-toolbar-row>
    <span><img src="assets/Logo_growIT.svg" ></span>

    <div *ngIf="permissionService.registeredInvestorPermission()" class="right-con row">
      <div class=""> <button [routerLink]="['/dashboard']" mat-button type="button">Dashboard</button>
      </div>
      <div class="ml-2"> <button [routerLink]="['/investor-cabinet']" mat-button type="button">My cabinet</button></div>
      <div class="ml-2"> <button (click)="logOut()" [routerLink]="['/login']" mat-button
          type="button">Log out</button></div>
    </div>

    <div [hidden]="permissionService.registeredInvestorPermission() || permissionService.emptyStorage()"  [ngClass]="(this.permissionService.borrowerOnCheckPermission())?'right-bor-btns':'right-reg-btns'" class="row">
      <div [hidden]="permissionService.borrowerOnCheckPermission()" class="ml-2"> <button [routerLink]="['/new-borrower']" mat-button type="button">Register</button></div>
      <div class="ml-2"> <button mat-button [routerLink]="['/calculator']" type="button">Calculator</button></div>
      <div class="ml-2"> <button mat-button [routerLink]="['/borrower-cabinet']" type="button">My cabinet</button></div>
        <div class="ml-2"><button (click)="logOut()" [routerLink]="['/login']" mat-button type="button">Log out</button></div>
    </div>



    <div class="right-login" [hidden]="permissionService.registeredBorrowerPermission() || permissionService.registeredInvestorPermission() || permissionService.borrowerOnCheckPermission()">
      <a routerLink="login" routerLinkActive="active">Login</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>