<div *ngIf="this.permissionService.registeredBorrowerPermission() || this.permissionService.borrowerOnCheckPermission() else accessDenied"
  class="form my-3 col-lg-7 offset-sm-3 text-center frm">
  <form [formGroup]="dataForm" (ngSubmit)="submit(dataForm.value)" class="form-inlin justify-content-center">
    <div class="card">
      <h2>Кредитний калькулятор</h2>
      <div class="form-group row width">
        <ng5-slider formControlName="amount" [options]="options1"></ng5-slider>
        <div class="">{{dataForm.controls['amount'].value}} грн<br />
          До повернення:
          {{math.round(dataForm.controls['amount'].value * ( 1 + dataForm.controls['period'].value * (22/30) / 100))}} грн<span id="star-main"> *</span></div>  <!-- 22/mo is 0.73 per day from B68-73-->

      </div>

      <div class="form-group row width">
        <ng5-slider formControlName="period" (ngModelChange)="onDateChange(dataForm.controls['period'].value)" [options]="optionsPeriod1"></ng5-slider>
        <div class="">{{dataForm.controls['period'].value}} днів</div>
        <br />
          Дата повернення: {{returnDate | date:"dd.MM.yyyy"}}
      </div>

      <div class="form-group row frm">
        <label class="mr-4">Мета займу</label>
        <mat-form-field>
          <select class="border border-dark" formControlName="loanPurpose" matNativeControl>
            <option selected type="text" *ngFor="let purpose of purposes" value="{{purpose}}">{{purpose}}</option>
          </select>
        </mat-form-field>
      </div>
      <div [hidden]="!this.permissionService.verifiedBorrowerPermission()" class="form-group frm">
        <label class="mr-4">Опишіть, як Ви будете використовувати та повертати займ.<br />Це збільшить довіру інвесторів
          та пришвидшить збір запрошеної Вами суми. </label>
        <div class="row"><textarea maxlength="600" formControlName="description"></textarea> <span class="form-help">{{dataForm.controls['description'].value.length}}/600</span>
        </div>
      </div>
      <span id="star-desc">* на основі середньої ставки для класу надійності B(середній)</span>
    </div>



    <button type="submit" class="btn btn-primary mx-auto" [disabled]="!dataForm.valid">Отримати займ</button>
  </form>

</div>
<ng-template #accessDenied>
  <div class="denied mt-3 p-5 alert-danger">
    <h2 class="text-danger mt-3">ACCESS DENIED !!!</h2>
    <p class="mt-4">You dont have permissions to access this resource.<br><br> Please contact Support department</p>
  </div>
</ng-template>