/** No CSS for this example */
.width {
  width: 600px;
  margin-left: 15%;
  // margin-right: 50%;

}

textarea {
  resize: none;
  width: 600px;
  height: 250px;
}

#star-desc {
  font-size: 10px;
}

#star-main {
  font-size: 12px;
}