@import "@angular/material/prebuilt-themes/purple-green.css";

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    justify-content: center;
}

footer {
position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

