<div *ngIf="this.permissionService.registeredUserPermission() else accessDenied"
  class="form my-3 col-lg-7 offset-sm-3 text-center frm">
  <h2>Освіта (5/6)</h2><br /><br />

  <form [formGroup]="dataForm" (ngSubmit)="submit(dataForm.value)" class="form-inlin justify-content-center">

    <div class="form-group row">
      <label class="mr-4">Здобутий рівень освіти</label>
      <mat-form-field>
        <select class="border border-dark" formControlName="educationLevel" matNativeControl>
          <option selected type="text" *ngFor="let level of levels" value="{{level}}">{{level}}</option>
        </select>
      </mat-form-field>
    </div>

    <div *ngIf="!!dataForm.controls['educationLevel'].value && 
    (dataForm.controls['educationLevel'].value !== 'Неповна середня') && 
    (dataForm.controls['educationLevel'].value !== 'Середня') && 
    (dataForm.controls['educationLevel'].value !== 'Середньотехнічна/спеціальна')" class="form-group row">
      <label class="mr-4">Напрям</label>
      <mat-form-field>
        <select class="border border-dark" formControlName="educationField" matNativeControl>
          <option selected type="text" *ngFor="let faculty of faculties" value="{{faculty}}">{{faculty}}</option>
        </select>
      </mat-form-field>
    </div>

    <button type="button" (click)="goBack()" class="btn btn-primary mr-5">Назад</button>

    <button type="submit" class="btn btn-primary ml-5" [disabled]="!dataForm.valid 
    || (!!dataForm.controls['educationLevel'].value && 
    (dataForm.controls['educationLevel'].value !== 'Неповна середня') && 
    (dataForm.controls['educationLevel'].value !== 'Середня') && 
    (dataForm.controls['educationLevel'].value !== 'Середньотехнічна/спеціальна') && 
    !(!!dataForm.controls['educationField'].value)) ">Далі</button>
  </form>

</div>
<ng-template #accessDenied>
  <div class="denied mt-3 p-5 alert-danger">
    <h2 class="text-danger mt-3">ACCESS DENIED !!!</h2>
    <p class="mt-4">You dont have permissions to access this resource.<br><br> Please contact Support department</p>
  </div>
</ng-template>