<div class="row">
    <div class="my-5 col-sm-2 offset-sm-5 text-center">
      <h2>Login page</h2>
      <br>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="form-inlin justify-content-center">
        <div class="form-group row">
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group row">
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <a class="blue hov" routerLink="/register">Create User</a>
      <div class="blue hov" (click)="toForgotPassword()">Forgot password?</div>
    </div>
  </div>