<div *ngIf="this.permissionService.registeredUserPermission() else accessDenied" class="form">
    <div class="my-3 col-lg-5 offset-sm-3 text-center frm">
        <h2>Passport & ITN</h2>
        <br>
        <form [formGroup]="docsForm" (ngSubmit)="submit(docsForm.value)" class="form-inlin justify-content-center">

            <div class="form-group row">
                <label id="example-radio-group-label" class="mr-5">Тип паспорта</label><br />
                <mat-radio-group formControlName="passportType" name="passportType"
                    aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button ngDefaultControl class="example-radio-button" *ngFor="let type of passportTypes"
                        [value]="type">
                        <div class="mr-3">{{type}}</div>
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-group row" *ngIf="docsForm.controls['passportType'].value === 'ID-картка'">
                <label class="mr-4 my-auto">Номер ID-картки</label>
                <input class="col-sm-3" type="text" formControlName="idPassNumber" placeholder="номер" />
            </div>
            <div class="form-group row" *ngIf="docsForm.controls['passportType'].value === 'Паперовий паспорт'">
                <label class="mr-3 my-auto">Серія</label>
                <input class="col-sm-2" type="text" formControlName="paperPassSeries" placeholder="СЕ" />
                <label class="mr-3 ml-3 my-auto">Номер</label>
                <input class="col-sm-2" type="text" formControlName="paperPassNumber" placeholder="123456" />
            </div>

            <label class="row">Ким виданий паспорт: сторінка 2</label>
            <div class="form-group row">
                <input class="col-sm-3 mr-2" type="text" formControlName="issuerRegion" placeholder="Волинським" />МВ
                <input class="col-sm-2 mr-2 ml-2" type="text" formControlName="issuerName" placeholder="УДМС" />в
                <input class="col-sm-3 mr-2 ml-2" type="text" formControlName="issuerLocationRegion"
                    placeholder="Волинській" />області
            </div>

            <div class="form-group">
                <div class="row ">
                    <label class="mr-4 my-auto">Дата видачі</label><br />
                    <input class="form-control col-sm-4" matInput [matDatepicker]="picker" formControlName="issueDate"
                        placeholder="Вибрати в календарі" />
                    <mat-datepicker-toggle class="border border-black" matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>

            <div class="form-group row">
                <label class="mr-3 my-auto">Ідентифікаційний код</label>
                <input class="col-sm-3" type="text" formControlName="itnNumber" placeholder="код" />

            </div>

            <button type="submit" class="btn btn-primary mx-auto" 
            [disabled]="!((!!docsForm.controls['idPassNumber'].value && docsForm.controls['idPassNumber'].value !== '') 
            || ( (!!docsForm.controls['paperPassSeries'].value && docsForm.controls['paperPassSeries'].value !== '') 
            && (!!docsForm.controls['paperPassNumber'].value && docsForm.controls['paperPassNumber'].value !== '') ) ) || !docsForm.valid">Далі</button>
        </form>


    </div>
</div>
<ng-template #accessDenied>
    <div class="denied mt-3 p-5 alert-danger">
      <h2 class="text-danger mt-3">ACCESS DENIED !!!</h2>
      <p class="mt-4">You dont have permissions to access this resource.<br><br> Please contact your administrator.</p>
    </div>
  </ng-template>