<div class="row">
  <div class="my-5 col-sm-6 offset-sm-3 text-center">
    <h2>Registration</h2>

    <br>
    <form [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value)" class="form-inlin justify-content-center">

      <label id="example-radio-group-label">Pick type of account</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="row" formControlName="accountType">
        <mat-radio-button class="example-radio-button" *ngFor="let type of accountTypes" [value]="type">
          <span class="mr-3">{{type}}</span>
        </mat-radio-button>
      </mat-radio-group>
      <br />
      <!-- <div>You are registering as {{registerForm.value.accountType}}</div> -->

      <div class="form-group row">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Email">
      </div>

      <div class="form-group row">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
      </div>

      <div class="form-group row">
        <label>Repeat password</label>
        <input type="password" class="form-control" formControlName="password2" placeholder="Password confirm">
      </div>

      <button type="submit" mat-raised-button class="btn btn-primary">Register</button> <br><br>

      <a class="blue hov" routerLink="/login">I already have an account</a>

    </form>
  </div>
</div>