.cc {
    
    text-align: center;
    margin-right: 73%;
    margin-left: 27%;
}

.checkGeneral {
    margin-right: 4%;
    margin-left:  96%;
}

.checkDocs {
    margin-right: 22%;
    margin-left:  78%;
}

.checkAddr {
    margin-right: 42%;
    margin-left:  58%;
}

.checkEmpl {
    margin-right: 53%;
    margin-left:  47%;
}

.checkEdu {
    margin-right: 50%;
    margin-left:  50%;
}

.checkAssets {
    margin-right: 50%;
    margin-left:  50%;
}

.questGeneral {
    margin-right: 6%;
    margin-left:  94%;
}

.questDocs {
    margin-right: 24%;
    margin-left:  76%;
}

.questAddr {
    margin-right: 46%;
    margin-left:  54%;
}

.questEmpl {
    margin-right: 53%;
    margin-left:  47%;
}

.questEdu {
    margin-right: 54%;
    margin-left:  46%;
}

.questAssets {
    margin-right: 50%;
    margin-left:  50%;
}