<div class="form-group frm">
    <div class="row cc mr-2">
        <div class="col-1 mr-5">
            <button type="button" mat-button [routerLink]="['/new-borrower']">Особисті дані</button>

        </div> 
        <div class="col-1 mr-4">
            <button type="button" mat-button [routerLink]="['/borrower/fill-passport']">Документи</button>

        </div>
        <div class="col-1">
            <button type="button" mat-button [routerLink]="['/borrower/fill-address']">Адреса</button>
        </div>
        <div class="col-2">
            <button type="button" mat-button [routerLink]="['/borrower/fill-employment']">Працевлаштування</button>

        </div>
        <div class="col-1">
            <button mat-button [routerLink]="['/borrower/fill-education']">Освіта</button>

        </div>
        <div class="col-1">
            <button mat-button [routerLink]="['/borrower/fill-assets']">Активи</button>

        </div>
    </div>


</div>