<div class="row" *ngIf="this.permissionService.registeredInvestorPermission() else accessDenied">
    <div class="my-3 col-sm-4 offset-sm-3 text-center frm">
        <h2>Personal info</h2>
        <br>
        <form [formGroup]="personalInfoForm" (ngSubmit)="submit(personalInfoForm.value)"
            class="form-inlin justify-content-center">

            <div class="form-group row">
                <label>Last name</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last name" />
            </div>

            <div class="form-group row">
                <label>First name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="First name" />
            </div>

            <div class="form-group row">
                <label>Middle name</label>
                <input type="text" class="form-control" formControlName="middleName" placeholder="Middle name" />
            </div>

            <div class="form-group row">
                <label id="example-radio-group-label" class="mr-5">Gender</label><br />
                <mat-radio-group formControlName="gender" name="gender" aria-labelledby="example-radio-group-label"
                    class="example-radio-group">
                    <mat-radio-button ngDefaultControl class="example-radio-button" *ngFor="let gen of genders"
                        [value]="gen">
                        {{gen}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-group">
                <div class="row ">
                    <label class="mr-4">Birthday</label><br />
                    <input class="form-control col-sm-6" matInput [matDatepicker]="picker" formControlName="birthday"
                        placeholder="Choose a date" />
                    <mat-datepicker-toggle class="border border-black"  matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>

            <div class="form-group">
                <label>Phone number</label><br />
                <div class="row">
                    <span class="my-2 mr-1">+380</span><input type="text" class="form-control col-sm-5"
                        formControlName="phone" placeholder="Phone" />
                </div>
            </div>

            <button *ngIf="!moveToCode" type="submit" class="btn btn-primary"
                [disabled]="!personalInfoForm.valid">Submit</button>
        </form>

        <form (ngSubmit)="next(codeForm.value)" [formGroup]="codeForm" *ngIf="moveToCode">
            <div class="form-group row my-2">
                <label class="my-1 mr-2">SMS code</label>
                <input type="text" class="form-control col-sm-2" formControlName="code" placeholder="code" />
            </div>

            <button type="submit" class="btn btn-primary mx-auto" [disabled]="!personalInfoForm.valid">Далі</button>
        </form>

    </div>
</div>
<ng-template #accessDenied>
    <div class="denied mt-3 p-5 alert-danger">
      <h2 class="text-danger mt-3">ACCESS DENIED !!!</h2>
      <p class="mt-4">You dont have permissions to access this resource.<br><br> Please contact your administrator.</p>
    </div>
  </ng-template>