/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "@angular/material/prebuilt-themes/purple-green.css";
@import "../node_modules/ngx-toastr/toastr.css";

html, body {
    height: 100%;
}

nav a.active {
    color: #039be5;
}

.frm {
    margin-left: auto;
    margin-right: auto;
}

.body {
    margin: 0;
}

